<div class="row">
	<div class="col-md-2" ></div>
	<div class="col-md-2"><%= link_to("See All Customers", customers_path) %></div>
	<div class="col-md-2"><%= link_to("See All Merchants", merchants_path) %></div>
	<div class="col-md-2"><%= link_to("See All Items", items_path) %></div>
	<div class="col-md-2"><%= link_to("See All Purchases", purchases_path) %></div>
	<div class="col-md-2" ></div>
</div>